/*--Parte de Conteúdo da página--------------------------------------------------------------------------------------------------------------*/

section#corpo {
    background: white;
    margin: -8px -8px 0px -8px;
    padding-bottom: 5%;
}

/*--Banner grande da página------------------------------------------------------------------------------------------------------------------*/

section#corpo div#banner {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background: url('../image/banner.jpg');
    background-size: auto 105vmax;
    padding-bottom: 10%;
    margin-bottom: 5%;
    min-height: 80vh;
    user-select: none;
}

/*Nome do site no banner--------------------------------------------------------------------------------------------------------------------*/

section#corpo div#banner hgroup#titulos_banner { 
    display: inline-block;
    vertical-align: top;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    margin-top: 20vh;
    margin-bottom: 20px;
    color: white;
}

section#corpo div#banner hgroup#titulos_banner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 140px;
    text-shadow: 5px 5px 10px black;
}

section#corpo div#banner hgroup#titulos_banner h2 {
    font-weight: 400;
    margin: 0;
    font-size: 46.2px;
}

/*--Botões de escolha de quais reviews serão exibidos----------------------------------------------------------------------------------------*/

section#corpo div#banner section button {
    font-size: 2em;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    background-position-y: 30%;
    background-position-x: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}

section#corpo div#banner section button:hover {background: rgba(0,0,0,0.5);}

@media(max-width: 499px) {

    /*--Nome do site no banner---------------------------------------------------------------------------------------------------------------*/

    section#corpo div#banner hgroup#titulos_banner h1 {
        font-size: 15vw;
    }

    section#corpo div#banner hgroup#titulos_banner h2 {
        font-size: 4vw;
    }

    /*--Botões de escolha de quais reviews serão exibidos-------------------------------------------------------------------------------------*/

    section#corpo div#banner section button {
        font-size: 0.8em;
    }
}

@media(max-width: 1400px) and (min-width: 500px) {

    /*--Nome do site no banner---------------------------------------------------------------------------------------------------------------*/

    section#corpo div#banner hgroup#titulos_banner h1 {
        font-size: 8vw;
    }

    section#corpo div#banner hgroup#titulos_banner h2 {
        font-size: 2.5vw;
    }

    /*--Botões de escolha de quais reviews serão exibidos-------------------------------------------------------------------------------------*/

    section#corpo div#banner section button {
        font-size: 1.3em;
    }
}

/*Principais Reviews--------------------------------------------------------------------------------------------------------------------------*/

section#corpo div.review_destaque_full {
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    color: white;
    margin: 0px 3vw 50px 3vw;
}

section#corpo div.reviews_destaques {
    background: linear-gradient(to bottom right, rgb(70, 181, 233), rgb(0, 83, 192));
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 4px solid rgb(238, 238, 238);
    margin-bottom: 20px;
}

section#corpo div.reviews_destaques:hover {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    transition: 50ms;
}

section#corpo div.reviews_destaques h2 {
    margin: 10px;
    font-size: 1em;
}

section#corpo div.reviews_destaques img{
    width: 200px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#corpo div.reviews_destaques h3 {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
    margin: 0;
}

section#corpo div.reviews_destaques table.tabela_review_destaque {
    width: 100%;
    padding: 10px;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr {
    padding: 5px;
    box-shadow: 0px 1px 0px white;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr td.esq {
    text-align: left;
    font-weight: bold;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr td.dir {
    text-align: right;
}

section#corpo div.review_destaque_full a.link_review_destaque {
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    background: #1c508b;
    border-radius: 20px;
    font-weight: bold;
}

section#corpo div.review_destaque_full a.link_review_destaque:hover {
    background: #2673cc;
}

section#corpo div.review_destaque_full a.link_review_destaque:active {
    background: #0c3855;
}


/*Todos os Reviews----------------------------------------------------------------------------------------------------------------------------*/

section#corpo div#todos_reviews {
    display: none;
}

section#corpo div#todos_reviews div.review_full {
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    max-width: 200px;
    background: rgba(216, 216, 216, 0.2);
}

section#corpo div#todos_reviews div.review_full:hover {
    transition: 200ms;
    background: rgba(216, 216, 216, 0.4);
}

section#corpo div#todos_reviews div.review_full a:link {
    color: #5b94ff;
}

section#corpo div#todos_reviews div.review_full a:visited {
    color: #30508c;
}

section#corpo div#todos_reviews div.review img.img_review {
    width: 180px;
}

section#corpo div#todos_reviews div.review section h3 {
    max-width: 180px;
    padding: 0px 5px 0px 5px;
    margin-top: 0;
}

/*Informações do site-------------------------------------------------------------------------------------------------------------------------*/

section#corpo div#informacoes_do_site {
    color: white;
    padding: 30px 10% 30px 10%;
    font-size: 1.3em;
    text-align: center;
}

section#corpo div#informacoes_do_site article {
    display: inline-block;
    width: 40%;
    background: linear-gradient(to bottom right, rgb(0, 140, 255), rgb(0, 83, 192));
    margin: 40px;
    vertical-align: top;
    border-radius: 20px;
    padding: 20px 0px;
    text-align: justify;
}

section#corpo div#informacoes_do_site article h1 {
    text-align: center;
}

section#corpo div#informacoes_do_site article p {
    text-indent: 5%;
    padding: 0px 50px;
}

section#corpo div#informacoes_do_site article a {
    color: white;
}

@media (max-width: 1100px) {

    /*--Informações do site------------------------------------------------------------------------------------------------------------------*/

    section#corpo div#informacoes_do_site article {
        width: 80%;
        margin: 0px;
        margin-bottom: 40px;
    }

    section#corpo div#informacoes_do_site article p {
        padding: 0px 30px;
    }
}

@media (min-width: 2000px) {

    /*--Informações do Site ------------------------------------------------------------------------------------------------------------------*/

    section#corpo div#informacoes_do_site article {
        width: 25%;
    }
}

@media (max-width: 460px) {

    /*--Informações do Site------------------------------------------------------------------------------------------------------------------*/

    section#corpo div#informacoes_do_site {
        padding: 30px 0px 30px 0px;
    }

    section#corpo div#informacoes_do_site article {
        width: 100%;
        border-radius: 0px;
    }

    section#corpo div#informacoes_do_site p {
        padding: 0px 10px;
    }
}