/*------Imagem expandida ---------------------------------------------------------------------------------------------------------------------*/

img#expandida_img {
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    zoom: 2;
    display: none;
    z-index: 3;
}

img#expandida_background_img {
    position: fixed;
    width: 1000vmax;
    margin: auto;
    left: 0;
    display: none;
    z-index: 2;
    top: 0;
}

nav#fechar_expandida {
    position: fixed;
    right: 1vw;
    top: 1vw;
    padding: 10px;
    border-radius: 100%;
    display: none;
    z-index: 3;
    cursor: pointer;
}

nav#fechar_expandida svg {
    fill: white;
    height: 23.333px;
}

nav#fechar_expandida:active svg{
    fill: rgb(0, 89, 255);
}

/*---Corpo do site-------------------------------------------------------------------------------------------------------------------------*/

section#corpo {
    background: white;
    margin-left: -8px;
    margin-right: -8px;
    color: rgb(114, 114, 114);
    padding: 75px 10% 30px 10%;
    font-size: 1.3em;
    text-align: center;
    margin-top: -8px;
}

section#corpo h1#nome_review {
    font-size: 2em;
    color: rgb(70, 70, 70);
}

figure#imagem_principal {
    margin: 0;
    text-align: center;
}

figure#imagem_principal img {
    width: 100%;
}

section#corpo p#autor {
    font-size: 0.7em;
    text-indent: 0;
    margin-top: 0px;
    text-align: right;
}

/*--Aqui começa a estilização do review em si-----------------------------------------------------------------------------------------------*/

section#corpo section#review {
    text-align: justify;
    width: 70%;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 800px) {
    section#corpo {
        padding: 75px 1% 30px 1%;
    }


    section#corpo section#review {
        width: 90%;
        padding: 0;
    }
}

section#corpo section#review h2 {
    color: rgb(70, 70, 70);
    text-align: center;
}

section#corpo section#review p {
    text-indent: 5%;
}

section#corpo section#review p.alinhamento_esquerda {
    margin: 0;
    display: inline-block;
    width: 55%;
    vertical-align: top;
    font-size: 1.5vw;
}

section#corpo section#review a {
    color: rgb(114, 114, 114);
}

/*--Formatação das imagens contidas no review------------------------------------------------------------------------------------------------*/

section#corpo figure.imagens_reviews {
    margin: 0;
}

section#corpo figure.imagens_reviews img.imagens_reviews_img {
    width: 100%;
    border: 1px solid rgb(70, 70, 70);
}

section#corpo figure.imagens_reviews legend {
    text-align: right;
    color: black;
    font-size: 0.6em;
}

section#corpo figure.imagens_reviews_direita {
    margin: 0;
    display: inline-block;
    width: 43%;
    text-align: right;
}

section#corpo figure.imagens_reviews_direita img.imagens_reviews_img {
    width: 95%;
    border: 1px solid rgb(70,70,70);
    display: inline-block;
    position: relative;
    right: 0px;
}

@media (max-width: 800px) {
    section#corpo section#review p.alinhamento_esquerda {
        margin: 1em 0px 1em 0px;
        display: block;
        width: auto;
        font-size: 1em;
    }

    section#corpo figure.imagens_reviews_direita {
        margin: 0;
        width: auto;
        text-align: justify;
    }

    section#corpo figure.imagens_reviews_direita img.imagens_reviews_img {
        width: 100%;
        border: 1px solid rgb(70,70,70);
        position: inherit;
    }
}

/*--Formatação da tabela de ficha técnica---------------------------------------------------------------------------------------------------*/

section#corpo table {
    width: 100%;
    font-size: 0.8em;
    background: linear-gradient(to bottom right, rgb(179, 179, 179), rgb(136, 136, 136));
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

section#corpo table td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

section#corpo table td.esq {
    font-weight: bold;
    text-align: left;
}

section#corpo table td.dir {
    text-align: right;
}

section#corpo table.meia_tabela td#ver_mais_meia_tabela {
    text-align: center;
    border-bottom: none;
    cursor: pointer;
}

section#corpo table.meia_tabela td#ver_mais_meia_tabela:hover {
    color: rgb(0, 89, 255);
    font-weight: bold;
}

@media (max-width: 800px) {
    table.tabela_inteira {
        display: none;
    }

    table.meia_tabela {
        display: block;
    }

    table.meia_tabela td {
        width: 10%;
    }
}

/*--Audio e vídeo----------------------------------------------------------------------------------------------------------------------------*/

section#corpo section#review audio.audio {
    width: 100%;
}

section#corpo section#review iframe#video_review {
    width: 100%;
    height: 30vw;
    min-height: 120px
}

