@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

#alerta {
    position: fixed;
    background-color: rgba(184, 0, 0, 0.7);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    text-align: center;
    padding: 5px;
    right: 0px;
    left: 0px;
    display: none;
}
body {
    font-family: 'Lato', sans-serif;
    background: #303030;
    min-width: 1000px;
    padding: 0px 30px 30px 30px;
}

header {
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);*/
    /*border-radius: 10px;*/
    background: white;
    margin: -8px;
}

/*header:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    transition: 100ms;
}*/

hgroup#titulos {
    /*padding: 5px;*/
    /*padding-left: 200px;*/
    /*font-size: 15pt;*/
    /*margin-bottom: 0px;*/
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    /*font-family: 'Righteous', cursive;*/
    height: 100px;
    /*background: linear-gradient(to right, white, #a1e4ff)*/
    /*background: white;*/
    text-align: center;
}

#titulo {
    font-size: 35pt;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 2px black;
    color: #41c9ff;
    margin-top: 0px;
    padding-top: 10px;
}

#titulo span {
    font-size: 27pt;
}

#subtitulo {
    /*padding: 1px;
    padding-left: 165px;
    color: green;*/
    /*text-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    margin-top: -30px;
    color: #303030;
}

img#logo_sr {
    position: absolute;
    top: 60px;
    left: 170px;
    zoom: 0.8;
    display: none;
}

div#social {
    float: right;
    margin-top: -15px;
}

img.redes_sociais {
    /*position: absolute;
    top: 210px;*/
    zoom: 0.6;
}

p.legenda_redes_sociais {
    position: absolute;
    top: 135px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
}
/*
p#legenda_Discord {
    left: 192px;
}

p#legenda_Facebook {
    left: 232px;
}

p#legenda_GitHub {
    left: 285px;
}

p#legenda_Instagram {
    left: 324px;
}

p#legenda_Twitter {
    left: 378px;
}

p#legenda_Youtube {
    left: 422px;
}

img#stromix_ds {
    left: 247px;
}

img#stromix_fb {
    left: 305px;
}

img#joaoscoelho_gh {
    left: 363px;
}

img#joaovictorsc_ig {
    left: 421px;
}

img#victor_tt {
    left: 479px;
}

img#stromix_yt {
    left: 537px;
}
*/
a#botao_cabecalho {
    text-decoration: none;
}

section#navegacao {
    background: white;
    margin: 8px -8px -21px -8px;
}

section#navegacao h4 {
    color: #303030;
    /*text-shadow: 0px 0px 2px black;*/
    display: inline-block;
    margin: 10px 0px 10px 70px;
}

div#corpo {
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;*/
    background: white;
    margin: -8px;
}

/*div#corpo:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    transition: 100ms;
}*/

div#corpo h1 {
    /*background-image: url('../_imagens/background.jpeg');
    background-position: center;*/
    padding: 10px;
    text-align: center;
    color: #303030;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

div#corpo h2 {
    /*background-color: rgba(130, 205, 255, 0.438);*/
    padding: 10px;
    text-indent: 50px;
    /*margin-top: 0px;*/
    color: #303030;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

ul#produtos {
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.link_produtos {
    text-decoration: none;
}

ul#produtos li {
    /*background: url('../_imagens/background_amarelo.jpeg') ;
    background-position: center;*/
    margin: 8px;
    border-radius: 10px;
    display: inline;
    /*box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.5);*/
}

a.link_produtos hgroup#nome_specs {
    /*margin-bottom: -70px;
    margin-left: 300px;*/
    width: max-content;
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
    margin-top: -30px;
}

hgroup#nome_specs h2 {
    margin-bottom: 0px;
}

hgroup#nome_specs ol {
    margin-left: 20px;
    color: grey;
}

/*ul#produtos li:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    transition: 50ms;
}*/

/*ul#produtos li span {
    padding: 20px;
    float: right;
    margin-top: -45px;
    font-size: 15pt;
    text-align: center;
    opacity: 0;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

ul#produtos li:hover span {
    opacity: 1;
}*/

a.link_produtos li img {
    border-radius: 10px;
    background: linear-gradient(to top, #808080, white);
    /*background: rgba(0, 0, 0, 0.2);*/
}

footer#rodape {
    background: #303030;
    color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

footer#rodape a {
    text-decoration: none;
}

a.outros_sites {
    background-color: white;
    padding: 5px;
    color: #303030;
    border-radius: 5px;
    text-decoration: none;
}