/*--Parte de Conteúdo da página------------------------------------------------------------------------------------*/

section#corpo {
    background: white;
    margin-left: -8px;
    margin-right: -8px;
}

/*Banner grande da página*/

section#corpo div#banner {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    background: url('../_imagens/background_tech_icons_blue_white_2400x1800.png');
    background-size: 150%;
    margin-bottom: 5%;
    height: 100vh;
}

section#corpo div#banner hgroup#titulos_banner {
    display: inline-block;
    vertical-align: top;
    font-family: 'Orbitron', sans-serif;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 4%;
    color: #30508c;
    margin-right: 5%;
}

section#corpo div#banner hgroup#titulos_banner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10vw;
}

section#corpo div#banner hgroup#titulos_banner h2 {
    font-weight: 400;
    margin-top: 0;
    font-size: 3.3vw;
}

/*Principais Reviews*/

section#corpo div.review_destaque_full {
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    color: white;
    margin: 0px 3vw 50px 3vw;
}

section#corpo div.reviews_destaques {
    background: #5b94ff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 4px dashed white;
    margin-bottom: 20px;
}

section#corpo div.reviews_destaques img{
    width: 25vw;
    min-width: 200px;
    max-width: 500px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#corpo div.reviews_destaques h3 {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
}

section#corpo div.reviews_destaques table.tabela_review_destaque {
    width: 100%;
    padding: 10px;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr {
    padding: 5px;
    box-shadow: 0px 1px 0px white;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr td.esq {
    text-align: left;
    font-weight: bold;
}

section#corpo div.reviews_destaques table.tabela_review_destaque tr td.dir {
    text-align: right;
}

section#corpo div.review_destaque_full a.link_review_destaque {
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    background: #30508c;
    border-radius: 20px;
    font-weight: bold;
}

section#corpo div.review_destaque_full a.link_review_destaque:hover {
    background: #4776ce;
}

section#corpo div.review_destaque_full a.link_review_destaque:active {
    background: #1c3053;
}

section#corpo div#informacoes_do_site {
    color: #4776ce;
    padding: 30px 10% 30px 10%;
    font-size: 1.3em;
    text-align: justify;
}

section#corpo div#informacoes_do_site h1 {
    text-align: center;
    border: 2px solid #30508c;
}

section#corpo div#informacoes_do_site p {
    text-indent: 5%;
}

section#corpo div#informacoes_do_site a {
    color: #5b94ff;
}