img#expandida_img {
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    zoom: 2;
    display: none;
}

img#expandida_background_img {
    position: fixed;
    width: 100vmax;
    margin: auto;
    left: 0;
    display: none;
}

img#fechar_expandida {
    position: fixed;
    right: 1vw;
    top: 1vw;
    padding: 10px;
    border-radius: 100%;
    display: none;
}

img#fechar_expandida:active {
    background: rgba(255, 255, 255, 0.5);
}

section#corpo {
    background: white;
    margin-left: -8px;
    margin-right: -8px;
    color: #4776ce;
    padding: 75px 10% 30px 10%;
    font-size: 1.3em;
    text-align: justify;
}

section#corpo h1 {
    text-align: center;
    border: 2px solid #30508c;
}

section#corpo h1.nome_produto {
    font-size: 2em;
    margin-top: 0;
}

section#corpo p {
    text-indent: 5%;
}

section#corpo p#autor {
    font-size: 0.7em;
    text-indent: 0;
    float: right;
    margin-top: -30px;
}

section#corpo a {
    color: #5b94ff;
}

section#corpo figure.imagens_reviews {
    width: 90%;
    margin: 0 auto auto auto;
}

section#corpo figure.imagens_reviews img.imagens_reviews_img {
    width: 100%;
    border: 4px solid #30508c;
}

section#corpo figure.imagens_reviews legend {
    text-align: right;
    color: black;
    font-size: 0.6em;
}

section#corpo table {
    border: 2px solid #30508c;
    padding: 1%;
    width: 100%;
    font-size: 0.8em;
}

section#corpo table td {
    border-bottom: 2px solid #30508c;
}

section#corpo table td.esq {
    font-weight: bold;
    text-align: left;
}

section#corpo table td.dir {
    text-align: right;
}

section#corpo section#review {
    width: 70%;
    display: inline-block;
    min-width: 200px;
}

section#corpo section#review audio.audio {
    width: 100%;
}

section#corpo section#review iframe#video_review {
    width: 100%;
    height: 30vw;
    min-height: 120px
}

section#corpo aside#outros_reviews {
    display: inline-block;
    min-width: 90px;
    width: 20%;
    font-size: 0.8em;
    vertical-align: top;
    float: right;
}

section#corpo aside#outros_reviews h1 {
    margin-top: 0;
}

section#corpo aside#outros_reviews div.review_lateral_full {
    text-align: center;
    color: white;
    margin: 0px 0vw 50px 0vw;
    font-size: 0.7em;
}

section#corpo aside#outros_reviews div.reviews_lateral {
    background: #5b94ff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 4px dashed white;
    margin-bottom: 20px;
    width: 85%;
    margin-left: 6%;
}

section#corpo aside#outros_reviews div.reviews_lateral img{
    width: 100%;
    max-width: 500px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#corpo aside#outros_reviews div.reviews_lateral h3 {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
}

section#corpo aside#outros_reviews div.review_lateral_full a.link_review_lateral {
    text-decoration: none;
    color: white;
    padding: 15px 1vw 15px 1vw;
    background: #30508c;
    border-radius: 20px;
    font-weight: bold;
}

section#corpo aside#outros_reviews div.review_lateral_full a.link_review_lateral:hover {
    background: #4776ce;
}

section#corpo aside#outros_reviews div.review_lateral_full a.link_review_lateral:active {
    background: #1c3053;
}